[tool.enscons]
name = "hsms"
description = "Hardware security module simulator for chia bls12_381 signatures"
authors = ["Richard Kiss <him@richardkiss.com>"]
license = "Apache-2.0"
repository = "https://github.com/chia-network/hsms.git"
readme = "README.md"
src_root = "."
dependencies = ["blspy==1.0.16", "segno==1.4.1", "clvm_rs @ git+https://github.com/Chia-Network/clvm_rs@17196e726b073681dc2c2df14fcff4b5cf6e527b#egg=clvm_rs&subdirectory=wheel", "clvm_tools_rs==0.1.30"]
packages = ["hsms"]
# version is defined with `setuptools_scm`. See `SConstruct` file.

[tool.enscons.optional_dependencies]
test = ["nose", "coverage"]
dev = ["flake8>=4.0.1", "black>=22.6"]

[tool.enscons.entry_points]
console_scripts = [
  "hsms = hsms.cmds.hsms:main",
  "hsmpk = hsms.cmds.hsmpk:main",
  "hsmgen = hsms.cmds.hsmgen:main",
  "hsmmerge = hsms.cmds.hsmmerge:main",
  "hsm_test_spend = hsms.cmds.hsm_test_spend:main",
  "hsm_dump_sb = hsms.cmds.hsm_dump_sb:main",
  "qrint = hsms.cmds.qrint:main",
  "hsmwizard = hsms.cmds.hsmwizard:main",
  "poser_gen = hsms.cmds.poser_gen:main",
  "poser_verify = hsms.cmds.poser_verify:main"
]

[build-system]
requires = ["pytoml>=0.1", "enscons", "setuptools_scm>=6.2"]
build-backend = "enscons.api"
